* {
    padding: 0;
    margin: 0;
}

.navbar {
    padding: 40px;
    background-color: rgb(94, 64, 230);
}
.navbar .link {
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.navbar .link {
    display: inline-block;
    margin-left: 22px;
}

.link {
    text-decoration: none;
    color: white;
}