* {
    padding: 0;
    margin: 0;
}

.nav {
    padding: 40px;
    background-color: rgb(94, 64, 230);
}
.nav .links {
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.nav .links ul li {
    display: inline-block;
    margin-left: 22px;
}

.links a {
    text-decoration: none;
    color: white;
}